@import "src/styles/colors.style";

.background-table {
  background-color: $dark;
  width: 100%;
  height: 100%;
}

.table {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  text-align: left;

  thead {
    color: $smoke-light;
    position: relative;

    th {
      font-weight: 400;
      padding: 0 12px 12px 12px;
    }

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $smoke-medium;
    }
  }

  tbody {
    width: 100%;
    color: #FFFFFF;

    tr {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $smoke-medium;
      }
    }

    td {
      padding: 16px 0;
    }
  }
}